@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 10px 20px 30px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-y: hidden;
}

nav {
  height: 100px;
  gap: 10px;
  display: flex;
  position: relative;
  background-color: white;
  justify-content: space-evenly;
}

img {
  height: 100%;
  width: 100%;
}

.nav_container a {
  text-decoration: none;
  padding: 0 10px;
  font-weight: 700;
  color: hsl(0, 0%, 75%);
}

.nav_container a:hover {
  color:black;
  transition: color 0.5s ease-in;
}

ul {
  display: flex;
}

/* N A V I G A T I O N  &  L A N D I N G */

.nav_container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  gap: 14px;
  align-items: center;
  margin: 0 auto;
}

.login {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}

.btn-1 {
 background-color: white;
 font-weight: 700;
 color: hsl(0, 0%, 75%);
}

.btn-2 {
  background-color: hsl(180, 66%, 49%);
  font-weight: 700;
  color: white;
}

.btn-3 {
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  background-color: hsl(180, 66%, 49%);
  font-weight: 700;
  color: white;
  margin-left: -18px;
  margin-top: 34px;
  align-items: center;
}

.header_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.header-para {
  flex-direction: column;
}

.header-para h1 {
  font-size: 60px;
  line-height: 1;
  color: hsl(260, 8%, 14%);
  margin: 0 -24px;
}

.header-para p {
  font-size: 16px;
  font-weight: 500;
  color: hsl(257, 7%, 63%);
  margin: -24px;
}

.header-img_container {
  flex-direction: column;
}

/* S H O R T E N  U R L */
.shorten_container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px;
  background-color: hsl(257, 27%, 26%);
  background-image: url('./images/bg-shorten-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.shorten-form {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}