@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; 
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  
}

/* NAVIGATION */
header {
  padding: 80px 0 40px 0;
}

.nav_wrapper, .nav_left {
  display: flex;
  align-items: center;
}

.nav_wrapper {
  justify-content: space-between;
}

.nav_left {
  gap: 45px;
}

.nav_links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav_links a {
  text-decoration: none;
  color: var(--grayish-violet);
  font-weight: 700;
}

.nav_links a:hover { color: var(--very-dark-violet); }

/* BUTTONS */
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 700;
  border-radius: 25px;
}

.btn-cyan {
  background-color: var(--cyan);
  color: white;
  padding: 10px 24px;
}

.btn-cyan:hover { opacity: 0.7; }

.btn-login {
  background: none;
  color: var(--grayish-violet);
  margin-right: 20px;
}

.btn-large {
  padding: 15px 40px;
  font-size: 1.1rem;
}

/* HERO SECTION */
#hero {
  display: flex;
  align-items: center;
  padding: 60px 0 150px 0;
}

.hero-content h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  color: var(--very-dark-violet);
  margin-bottom: 10px;
}

.hero-content p {
  color: var(--grayish-violet);
  font-size: 1.2rem;
  margin-bottom: 35px;
  max-width: 500px;
}

.hero-image {
  flex-basis: 50%;
}

.hero-image img {
  width: 130%; 
  transform: translateX(50px);
}

/*URL BOX  */
#shorten-area {
  background-color: #f0f1f6; 
  padding-bottom: 80px;
}

.shorten_container {
  background-color: var(--dark-violet);
  background-image: url('./images/bg-shorten-desktop.svg');
  background-size: cover;
  border-radius: 10px;
  padding: 50px;
  margin-top: -80px;
  position: relative;
}

.shorten-form {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.shorten-form input {
  flex: 1;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
}

.input-control {
  flex: 1;
  position: relative;
}

.input-control input{
  width: 100%;
  padding: 14px 32px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.error-msg {
  display: none;
  color: var(--red);
  font-style: italic;
  font-size: 14px;
  position: absolute;
  bottom: -25px;
  left: 0;
}

.input-control.error input{
  border: 3px solid var(--red);
}

.input-control.error .error-msg{
  display: block;
}

.input-control.error input::placeholder {
  color: var(--red);
}

.link-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-radius: 5px;
  margin-top: 20px;
}

.long-url {
  color: var(--very-dark-blue);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}

.short-url {
  color: var(--cyan);
  margin-left: auto;
  margin-right: 20px;
}

.btn-copy {
  background-color: var(--cyan);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  min-width: 100px;
}

.btn-copy.copied {
  background-color: var(--dark-violet);
}

/* Stats section */

.stats-area {
 background-color: #f0f1f6; 
 /* padding-top: 100px; */
 padding-bottom: 200px;
}

.stats-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats-intro p {
  text-align: center;
  color: var(--gray);
  font-weight: 500;
}

.stats-intro h1 {
  color: var(--dark-violet);
  font-size: 35px;
}

.stats-card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
  position: relative;
  padding: 0 20px;
}

.stats-card {
  background-color: white;
  padding: 70px 32px 40px;
  border-radius: 5px;
  flex: 1;
  position: relative;
  height: fit-content;
}

.stats-card p {
  color: var(--gray);
  font-weight: 500;
  font-size: 15px;
}

.stats-card:nth-child(2) {
  transform: translateY(44px);
}

.stats-card:nth-child(3) {
  transform: translateY(88px);
}

.card-icon {
  background-color: var(--dark-violet);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: 32px;
}

.card-icon img {
  width: 40px;
  height: 40px;
}

.stats-card-container::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 8px;
  background-color: var(--cyan);
  top: 50%;
  left: 250px;
  z-index: 0;
}

/* footer */
.boost {
  background-color: var(--dark-violet);
  background-image: url('./images/bg-boost-desktop.svg');
  background-size: cover;
}

 .boost-container {
  padding: 56px 0;
 }

 .boost-container h1{
  color: white;
 }

 .boost-row{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
  width: 100%;
 }

.footer {
  background-color: #232127;
  color: white;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-logo h2{
  font-size: 32px;
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-col h4{
  margin-bottom: 20px;
  font-size: 16px;
}

.footer-col ul{
  list-style: none;
  padding: 0;
}

.footer-col li{
  margin-bottom: 10px;
}

.footer-col a{
  color: #bfbfbf;
  text-decoration: none;
  
}

.footer-col a:hover{
  color: var(--cyan);
  transition: 0.5s ease-in;
}

.footer-socials {
  display: flex;
  gap: 20px;
}

.footer-socials img{
  width: 24px;
}

.footer-social a:hover svg {
  fill: hsl(180, 66%, 49%); 
}

@media (max-width: 768px) {
  /* hero hamburger */
  #hero {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 40px;
  }

  /* shorten */
  .shorten_container {
    flex-direction: column;
    padding: 24px;
    margin-top: -80px; 
    gap: 30px;
  }

  /* Stack Stats Cards */
  .stats-card-container {
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }

  .stats-card {
    text-align: center;
    transform: translateY(0) !important;
  }

  .card-icon {
    left: 50%;
    transform: translateX(-50%); 
    top: -35px;
  }

  /* vertical blue line */
  .stats-card-container::before {
    width: 8px;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  /* footer */
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }
}
