@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; 
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  
}

/* NAVIGATION */
header {
  padding: 80px 0 40px 0;
}

.nav_wrapper, .nav_left {
  display: flex;
  align-items: center;
}

.nav_wrapper {
  justify-content: space-between;
}

.nav_left {
  gap: 45px;
}

.nav_links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav_links a {
  text-decoration: none;
  color: var(--grayish-violet);
  font-weight: 700;
}

.nav_links a:hover { color: var(--very-dark-violet); }

/* BUTTONS */
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 700;
  border-radius: 25px;
}

.btn-cyan {
  background-color: var(--cyan);
  color: white;
  padding: 10px 24px;
}

.btn-cyan:hover { opacity: 0.7; }

.btn-login {
  background: none;
  color: var(--grayish-violet);
  margin-right: 20px;
}

.btn-large {
  padding: 15px 40px;
  font-size: 1.1rem;
}

/* HERO SECTION */
#hero {
  display: flex;
  align-items: center;
  padding: 60px 0 150px 0;
}

.hero-content h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  color: var(--very-dark-violet);
  margin-bottom: 10px;
}

.hero-content p {
  color: var(--grayish-violet);
  font-size: 1.2rem;
  margin-bottom: 35px;
  max-width: 500px;
}

.hero-image {
  flex-basis: 50%;
}

.hero-image img {
  width: 130%; 
  transform: translateX(50px);
}

/*URL BOX  */
#shorten-area {
  background-color: #f0f1f6; 
  padding-bottom: 80px;
}

.shorten_container {
  background-color: var(--dark-violet);
  background-image: url('./images/bg-shorten-desktop.svg');
  background-size: cover;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
}

.shorten-form {
  display: flex;
  gap: 20px;
}

.shorten-form input {
  flex: 1;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
}

.link-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-radius: 5px;
  margin-top: 20px;
}

.long-url {
  color: var(--very-dark-blue);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}

.short-url {
  color: var(--cyan);
  margin-left: auto;
  margin-right: 20px;
}

.btn-copy {
  background-color: var(--cyan);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  min-width: 100px;
}

.btn-copy.copied {
  background-color: var(--dark-violet);
}
